<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
  <div class="row  my-3">
      <div class="col student__block p-3">
        <div class="group__info flex-column my-2">
            <div class="group__info flex-column my-2">
                <h4>
                  Группа:  <%= group.name %>
                </h4>
                <h5>
                    Класс:
                    <%= group.class_number %>
                </h5>
            </div>
            <hr>
      <h4>Убрать тест из группы</h4>
      <h5>Нужный вам тест можно найти по параметрам: дата теста, предмет и формат проведения</h5>
      <form action=<%= `${globalLink}/groups/${group.group_id}/removeTest` %> method='POST'>

          <div class="tests__list">

            <label for="InputTests" class="form-label">Укажите тест для удаления</label>
              <div class="tests__add d-flex mb-4">
                  <select name="test" type="select" class="form-select form-select-lg w-75" id="InputTests" aria-label="Удаление теста">
                    <option value="">Выберите тест</option>
                    <% tests.sort(function(a, b) { return new Date(a.date) - new Date(b.date); }).forEach(function(test) { %>
                      <option class="available__option" value="<%= test.test_id %>">
                        Дата: <%= test.date.toLocaleDateString('ru-RU') %>,
                         Формат: <%= test.format %>,
                          Предмет: <%= test.subjectName %>
                      </option>
                      <% }); %>
                    </select>
              </div>
          </div>
          <div class="buttons d-flex flex-column justify-content-center">
            <button type="submit" class="btn btn-primary my-2 w-50">Убрать</button>
            <a href="<%= `${globalLink}/users/profile/` %>" class="btn-profile btn btn-light w-50 mh-50">Вернуться в свой профиль</a>
          </div>

      </form>
    </div>
  </div>

</div>