<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
  <div class="row  my-3">
      <div class="col-lg-6 student__block p-3">
        <div class="group__info flex-column my-2">
      </div>
      <hr>

      <h4>Деактивировать группу</h4>
      <form action=<%= `${globalLink}/groups/remove` %> method='POST'>

          <div class="subjects__list">

            <label for="InputSubjects" class="form-label">Укажите группу</label>
              <div class="subjects__add d-flex mb-4">
                  <select name="group_id" type="select" class="form-control w-50" id="InputSubjects">
                    <option value="">Выберите группу</option>
                    <% groups.forEach(function(group) { %>
                      <option class="available__option" value="<%= group.group_id %>">
                        <%= group.name %>
                      </option>
                      <% }); %>
                    </select>
              </div>
          </div>
          <div class="buttons d-flex flex-column justify-content-center">
            <button type="submit" class="btn btn-primary my-2 w-50">Убрать группу из всех списков</button>
            <a href="<%= `${globalLink}/users/profile/` %>" class="btn-profile btn btn-light w-50 mh-50">Вернуться в свой профиль</a>
          </div>
      </form>
    </div>
  </div>

</div>