<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
  <div class="row  my-3">
      <div class="col-6 student__block p-3">
        <div class="group__info flex-column my-2">
          <h4>
            Группа:  <%= group.name %>
          </h4>
          <h5>
              Класс:
              <%= group.class_number %>
          </h5>
      </div>
      <hr>
          <h4>Добавить ученика в группу</h4>
          <form action=<%= `${globalLink}/groups/${group.group_id}/addStudent` %> method='POST'>

              <div class="students__list">

                <label for="InputStudents" class="form-label">Укажите имя</label>
                  <div class="students__add d-flex">
                      <select name="student" type="select" class="form-control w-50" id="InputStudents">
                        <option value="">Выберите ученика</option>
                        <% possibleNewStudents.forEach(function(student) { %>
                          <option class="available__option" value="<%= student.student_id %>">
                            <%= student.name %>
                          </option>
                          <% }); %>
                        </select>
                  </div>
              </div>
            <button type="submit" class="btn btn-primary my-4">Добавить</button>

          </form>
        </div>
      </div>

    </div>


    <%- include ("../partials/footer.ejs") %>