<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
  <div class="row  my-3">
    <div class="col-lg-6 student__block p-3">
        <div class="group__info flex-column my-2">
          <h4>
            Группа:  <%= group.name %>
          </h4>
          <h5>
              Класс:
              <%= group.class_number %>
          </h5>
        </div>
      <hr>
      <h4>Добавить тест в группу</h4>
      <form action=<%= `${globalLink}/groups/${group.group_id}/addTest` %> method='POST'>

        <div class="test_date__list my-3">

          <label for="FormControlInputDate" class="form-label">Укажите формат тестирования</label>
          <input name="testing_date" type="date" class="form-control w-50" id="FormControlInputDate">                

        </div>

        <div class="subjects__list mt-3">

          <label for="InputSubjects" class="form-label">Укажите предмет</label>
            <div class="subjects__add d-flex">
                <select name="subject" type="select" class="form-control w-50" id="InputSubjects">
                  <option value="">Выберите предмет</option>
                  <% subjects.forEach(function(subject) { %>
                    <option class="available__option" value="<%= subject.id %>">
                      <%= subject.name %>
                    </option>
                    <% }); %>
                  </select>
            </div>
        </div>

        <div class="test_format__list my-3">

          <label for="FormControlInputFormat" class="form-label">Укажите формат тестирования</label>
          <input name="testing_format" type="text" class="form-control w-50" id="FormControlInputFormat">                

        </div>

        <div class="max_points__list my-3">

          <label for="FormControlInputMaxPoints" class="form-label">Укажите максимальное кол-во баллов</label>
          <input name="max_points" type="text" class="form-control w-50" id="FormControlInputMaxPoints">                

        </div>

        <div class="students__list d-flex flex-column">

          <label for="InputStudents" class="form-label">Укажите набранные баллы</label>
            <% students.forEach(function(student) { %>
              <div class="students__add d-flex my-1">

                <select style="pointer-events: none;" name="students" type="select" class="form-control w-50" id="InputStudents">
                  <option class="available__option" value="<%= student.student_id %>">
                    <%= student.name %>
                  </option>
                </select>
                <input name="student_points" type="number" class="form-control w-25 mx-1" id="FormControlInputStudentPoints">      
                <button type="button" class="remove__button btn btn-danger mx-1">-</button>
              </div>
            <% }); %>
        </div>
        <div class="buttons d-flex flex-column justify-content-center">
          <button type="submit" class="btn btn-primary my-2 w-50">Добавить</button>
          <a href="<%= `${globalLink}/users/profile/` %>" class="btn-profile btn btn-light w-50 mh-50">Вернуться в свой профиль</a>
        </div>

      </form>
    </div>

  </div>
</div>


    <%- include ("../partials/footer.ejs") %>

<script>

const removeButton = Array.from(document.querySelectorAll('.remove__button'));
const studentsList = document.querySelector('.students__list');
removeButton.forEach(function(el) {
  el.addEventListener('click', function(e) {
    const divWithSelect = el.parentElement;
    divWithSelect.parentElement.removeChild(divWithSelect);
  })
})






</script>