<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
    <div class="row my-3 student__block">
        <div class="col">
                <h3 class="text-center">Списки учеников по классам</h3>
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Ученики 1 класса
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <form action=<%= `${globalLink}/students/reincarnate` %> method='POST'>
                            <div class="students__list">
                              <label for="InputStudents" class="form-label">Укажите имя</label>
                                <div class="students__add d-flex">
                                    <select name="student_id" type="select" class="form-control w-50" id="InputStudents">
                                      <option value="">Выберите ученика</option>
                                      <% students.filter((student) => student.class_number == 1).forEach(function(student) { %>
                                        <option class="available__option" value="<%= student.student_id %>">
                                          <%= student.name %>
                                        </option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-secondary my-4">Вернуть в активные ученики</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Ученики 2 класса
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <form action=<%= `${globalLink}/students/reincarnate` %> method='POST'>
                            <div class="students__list">
                              <label for="InputStudents" class="form-label">Укажите имя</label>
                                <div class="students__add d-flex">
                                    <select name="student_id" type="select" class="form-control w-50" id="InputStudents">
                                      <option value="">Выберите ученика</option>
                                      <% students.filter((student) => student.class_number == 2).forEach(function(student) { %>
                                        <option class="available__option" value="<%= student.student_id %>">
                                          <%= student.name %>
                                        </option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-secondary my-4">Вернуть в активные ученики</button>
                        </form>


                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Ученики 3 класса
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <form action=<%= `${globalLink}/students/reincarnate` %> method='POST'>
                            <div class="students__list">
                              <label for="InputStudents" class="form-label">Укажите имя</label>
                                <div class="students__add d-flex">
                                    <select name="student_id" type="select" class="form-control w-50" id="InputStudents">
                                      <option value="">Выберите ученика</option>
                                      <% students.filter((student) => student.class_number == 3).forEach(function(student) { %>
                                        <option class="available__option" value="<%= student.student_id %>">
                                          <%= student.name %>
                                        </option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-secondary my-4">Вернуть в активные ученики</button>
                        </form>


                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Ученики 4 класса
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <form action=<%= `${globalLink}/students/reincarnate` %> method='POST'>
                            <div class="students__list">
                              <label for="InputStudents" class="form-label">Укажите имя</label>
                                <div class="students__add d-flex">
                                    <select name="student_id" type="select" class="form-control w-50" id="InputStudents">
                                      <option value="">Выберите ученика</option>
                                      <% students.filter((student) => student.class_number == 4).forEach(function(student) { %>
                                        <option class="available__option" value="<%= student.student_id %>">
                                          <%= student.name %>
                                        </option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-secondary my-4">Вернуть в активные ученики</button>
                        </form>


                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Ученики 5 класса
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <form action=<%= `${globalLink}/students/reincarnate` %> method='POST'>
                            <div class="students__list">
                              <label for="InputStudents" class="form-label">Укажите имя</label>
                                <div class="students__add d-flex">
                                    <select name="student_id" type="select" class="form-control w-50" id="InputStudents">
                                      <option value="">Выберите ученика</option>
                                      <% students.filter((student) => student.class_number == 5).forEach(function(student) { %>
                                        <option class="available__option" value="<%= student.student_id %>">
                                          <%= student.name %>
                                        </option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-secondary my-4">Вернуть в активные ученики</button>
                        </form>


                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        Ученики 6 класса
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <form action=<%= `${globalLink}/students/reincarnate` %> method='POST'>
                            <div class="students__list">
                              <label for="InputStudents" class="form-label">Укажите имя</label>
                                <div class="students__add d-flex">
                                    <select name="student_id" type="select" class="form-control w-50" id="InputStudents">
                                      <option value="">Выберите ученика</option>
                                      <% students.filter((student) => student.class_number == 6).forEach(function(student) { %>
                                        <option class="available__option" value="<%= student.student_id %>">
                                          <%= student.name %>
                                        </option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-secondary my-4">Вернуть в активные ученики</button>
                        </form>


                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        Ученики 7 класса
                      </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <form action=<%= `${globalLink}/students/reincarnate` %> method='POST'>
                            <div class="students__list">
                              <label for="InputStudents" class="form-label">Укажите имя</label>
                                <div class="students__add d-flex">
                                    <select name="student_id" type="select" class="form-control w-50" id="InputStudents">
                                      <option value="">Выберите ученика</option>
                                      <% students.filter((student) => student.class_number == 7).forEach(function(student) { %>
                                        <option class="available__option" value="<%= student.student_id %>">
                                          <%= student.name %>
                                        </option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-secondary my-4">Вернуть в активные ученики</button>
                        </form>


                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        Ученики 8 класса
                      </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <form action=<%= `${globalLink}/students/reincarnate` %> method='POST'>
                            <div class="students__list">
                              <label for="InputStudents" class="form-label">Укажите имя</label>
                                <div class="students__add d-flex">
                                    <select name="student_id" type="select" class="form-control w-50" id="InputStudents">
                                      <option value="">Выберите ученика</option>
                                      <% students.filter((student) => student.class_number == 8).forEach(function(student) { %>
                                        <option class="available__option" value="<%= student.student_id %>">
                                          <%= student.name %>
                                        </option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-secondary my-4">Вернуть в активные ученики</button>
                        </form>


                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNine">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                        Ученики 9 класса
                      </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <form action=<%= `${globalLink}/students/reincarnate` %> method='POST'>
                            <div class="students__list">
                              <label for="InputStudents" class="form-label">Укажите имя</label>
                                <div class="students__add d-flex">
                                    <select name="student_id" type="select" class="form-control w-50" id="InputStudents">
                                      <option value="">Выберите ученика</option>
                                      <% students.filter((student) => student.class_number == 9).forEach(function(student) { %>
                                        <option class="available__option" value="<%= student.student_id %>">
                                          <%= student.name %>
                                        </option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-secondary my-4">Вернуть в активные ученики</button>
                        </form>


                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                        Ученики 10 класса
                      </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                       <form action=<%= `${globalLink}/students/reincarnate` %> method='POST'>
                            <div class="students__list">
                              <label for="InputStudents" class="form-label">Укажите имя</label>
                                <div class="students__add d-flex">
                                    <select name="student_id" type="select" class="form-control w-50" id="InputStudents">
                                      <option value="">Выберите ученика</option>
                                      <% students.filter((student) => student.class_number == 10).forEach(function(student) { %>
                                        <option class="available__option" value="<%= student.student_id %>">
                                          <%= student.name %>
                                        </option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-secondary my-4">Вернуть в активные ученики</button>
                        </form>


                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEleven">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                        Ученики 11 класса
                      </button>
                    </h2>
                    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                       <form action=<%= `${globalLink}/students/reincarnate` %> method='POST'>
                            <div class="students__list">
                              <label for="InputStudents" class="form-label">Укажите имя</label>
                                <div class="students__add d-flex">
                                    <select name="student_id" type="select" class="form-control w-50" id="InputStudents">
                                      <option value="">Выберите ученика</option>
                                      <% students.filter((student) => student.class_number == 11).forEach(function(student) { %>
                                        <option class="available__option" value="<%= student.student_id %>">
                                          <%= student.name %>
                                        </option>
                                        <% }); %>
                                      </select>
                                </div>
                            </div>
                          <button type="submit" class="btn btn-secondary my-4">Вернуть в активные ученики</button>
                        </form>


                      </div>
                    </div>
                  </div>




                  <div class="buttons d-flex flex-column my-2">
                    <a href="<%= `${globalLink}/users/profile/` %>" class="btn-profile btn btn-light w-50 mh-50">Вернуться в свой профиль</a>
                  </div>
                </div>
                
                
              </div>

        </div>
    </div>


<%- include ("../partials/footer.ejs") %>
