<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">

    <div class="row d-flex  my-4">
        <div class="test__block col-lg-6">
            <div class="test__info flex-column">
                <h4>
                    Информация о проведенном тесте
                </h4>
                <h5>
                  Группа:
                  <%= group.group_name %>
              </h5>
                <h5>
                    Формат тестирования:
                    <%= group.format %>
                </h5>
                <div class="groupInfo d-flex align-items-center">
                  <a href=<%= `${globalLink}/groups/${group.group_id}` %> class="btn btn-success w-75">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
                          <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
                        </svg>
                        Вернуться на страницу группы
                  </a>
              </div>
            </div>
        </div>
    </div>

    <%     subjects.forEach(function(subject) { %>

    <div class="row d-flex test__block my-4">
        <div class="col">
          <div class="table-responsive-lg">
            <table class="table table-striped table-hover table-bordered border-primary">
                <tr>
                  <th>Дата проведения</th>
                   <th>Имя ученика</th>
                   <th>Предмет</th>
                   <th>Набранные баллы</th>
                   <th>Максимальный балл</th>
                   <th>% от максимума</th>
                </tr>
                <%     results.filter((result) => result.subject_name == subject.subject_name).forEach(function(result) { %>     
                <tr>
                  <th class="dates"><%= result.test_date.toLocaleDateString('ru-RU') %></th>
                   <td class="names__<%= subject.subject_id %>"><%= result.student_name %></td>
                   <td class=><%= subject.subject_name %></td>
                   <td><%= result.points %></td>
                   <td><%= result.max_points %></td>
                   <td class="percents__<%= subject.subject_id %>"><%= result.percent %></td>
                </tr>
                <% }); %>
             </table>
             </div>
        </div>

    </div>


    <div class="row d-flex group__block my-4">
        <div class="col py-2">
          <div id="chart__<%= subject.subject_id %>">
          </div>
        </div>
    </div> 

<script>

const names__<%= subject.subject_id %> = Array.from(document.querySelectorAll('.names__<%= subject.subject_id %>')).map((el) => el.innerHTML);
    const percents__<%= subject.subject_id %> = Array.from(document.querySelectorAll('.percents__<%= subject.subject_id %>')).map((el) => el.innerHTML);
    
    console.log(`<%= subject.subject_id %>`)
    var options = {
          series: [{
          name: '% от максимума',
          data: percents__<%= subject.subject_id %>
        }],
        chart: {
          height: 350,
          type: 'bar',
        },
        plotOptions: {
          bar: {
            borderRadius: 10,
            columnWidth: '50%',
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: 2
        },
        
        grid: {
          row: {
            colors: ['#fff']
          }
        },
        xaxis: {
          labels: {
            rotate: -45
          },
          categories: names__<%= subject.subject_id %>,
        },
        yaxis: {
          title: {
            text: '% от максимума',
          },
          max: 100,
        },

        };

        var chart = new ApexCharts(document.querySelector("#chart__<%= subject.subject_id %>"), options);
        chart.render();

</script>

<% }); %>
</div>

<%- include ("../partials/footer.ejs") %>