<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="container">
    <div class="row my-3 group__block">
      <div class="col">
        <div class="group__info d-flex flex-column justify-content-start">
          <h4 class="btn btn-success">
             Группа: <%= group.name %>
          </h4>
          <h4 class="btn btn-success">
              Класс:
              <%= group.class_number %>
          </h4>
          <h4 class="btn btn-success">
            Филиал:
            <%= group.branch %>
        </h4>
        <h4 class="btn btn-success">
          Язык обучения:
          <%= group.language %>
      </h4>
      <h4 class="btn btn-success">
        Количество учеников:
        <%= group_students.length %>
    </h4>
      </div>
      </div>
    </div>
    <div class="row d-flex group__block my-3">
        <div class="group__info">
          <h4 class="students_content_title text-center">
            Состав группы по предметам
          </h4>
            <div class="d-flex flex-row flex-sm-wrap flex-md-nowrap my-3 justify-content-around">
              <% subjects.forEach(function(subject) { %>

                <div class="d-flex flex-column students__content mx-1">
                  <b><%= subject.name %> :</b>
                  <b>Кол-во учеников: <%= subject.students.length %></b>
                <% subject.students.forEach(function(student) { %>
                  <a href=<%= `${globalLink}/students/${student.student_id}/` %> class="btn btn-warning my-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                    <strong><%= student.student_name %></strong>
                  </a>
                <% }); %>
                </div>
              <% }); %>
            </div>


        </div>
      </div>

<div class="row d-flex group__block my-2 flex-column">
  <div class="row d-flex">
    <div class="col-md-6 col-12">
      <div class="students__content">
        <a href=<%= `${globalLink}/groups/${group.group_id}/addStudent` %> class="btn btn-primary my-2">
        Добавить ученика в эту группу
        </a>
        <a href=<%= `${globalLink}/groups/${group.group_id}/removeStudent` %> class="btn btn-danger my-2">
          Удалить ученика из группы
          </a>
      </div>
    </div>
    
    <div class="col-md-6 col-12">
      <div class="subjects__content">
        <a href=<%= `${globalLink}/groups/${group.group_id}/addSubject` %> class="btn btn-primary my-2">
        Добавить предмет в эту группу
        </a>
        <a href=<%= `${globalLink}/groups/${group.group_id}/removeSubject` %> class="btn btn-danger my-2">
          Удалить предмет из группы
          </a>
      </div>
    </div>
  </div>

</div>
    <div class="row d-flex group__block my-4">
      <div class="col py-2">
        <h4 class="text-center">Тесты</h4>
        <div class="tests__content">
          <a href=<%= `${globalLink}/groups/${group.group_id}/addComplexTest` %> class="btn btn-primary my-2">
          Добавить тест в эту группу
          </a>
          <a href=<%= `${globalLink}/groups/${group.group_id}/removeComplexTest` %> class="btn btn-danger my-2">
            Удалить тест из группы
            </a>
        </div>
      </div>
    </div>



    <div class="row d-flex flex-column group__block my-4 justify-content-center align-items-center">
      <div class="row d-flex flex-column">
        <div class="col py-2">
          <h4 class="text-center">Характеристики</h4>
          <h5 class="text-center">Добавить характеристики в группу</h5>
          <div class="review__content">
            <% subjects.forEach(function(subject) { %>
            <a href=<%= `${globalLink}/groups/${group.group_id}/${subject.subject_id}/addReview` %> class="btn btn-secondary my-2">
              <%= subject.name %>
            </a>
            <% }); %>
            <a href=<%= `${globalLink}/groups/${group.group_id}/removeReview` %> class="btn btn-danger my-2">
              Удалить характеристики из группы
              </a>
          </div>
        </div>
      </div>
      <div class="row d-flex">
        <div class="accordion" id="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSubject">
              <button class="accordion-button d-block text-center bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubject">
                <h5 class="text-light">Найти характеристики</h5>
              </button>
            </h2>
            <div id="collapseSubject" class="accordion-collapse collapse" aria-labelledby="headingSubject" data-bs-parent="#accordion">
              <div class="accordion-body d-flex flex-column bg-warning">
                <div class="input_field d-flex">
                  <input type="month" class="month_form form-control input-lg w-25 m-1">
                  <select class="subject_chars_select form-select w-25 m-1">
                    <% subjects.forEach(function(subject) { %>
                        <option value="<%= subject.subject_id %>">
                          <%= subject.name %>
                        </option>
                      <% }); %>
                  </select>
                  <button class="find_chars_button btn btn-secondary m-1" type="button">
                    Найти
                  </button>
                </div>
                <hr>
                <div class="table-responsive-lg">
                  <table class="table table-striped table-hover table-bordered border-primary">
                    <tbody class="async__find">
                      <tr>
                        <th>Дата проведения</th>
                        <th>Предмет</th>
                        <th>Посещаемость</th>
                        <th>Активность</th>
                        <th>Выполнение ДЗ</th>
                        <th>Подробнее</th>
                     </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script>
const inputCharsValue = document.querySelector('.month_form');
const selectSubjectCharsValue = document.querySelector('.subject_chars_select');
const tableBlock = document.querySelector('.async__find');
const findCharsButton = document.querySelector('.find_chars_button');

findCharsButton.addEventListener('click', async (event) => {


  tableBlock.innerHTML = `<tr><th>Дата проведения</th><th>Предмет</th><th>Посещаемость</th><th>Активность</th><th>Выполнение ДЗ</th><th>Подробнее</th></tr>`
  
  const queryToDB = await fetch(`<%= globalLink %>/reviews/async/groups/${inputCharsValue.value}/${selectSubjectCharsValue.value}/<%= group.group_id %>`)
  const response = await queryToDB.json()
  response.forEach((item) => {
    const trEl = document.createElement('tr');
    tableBlock.appendChild(trEl);
    const dateCol = document.createElement('td');
    dateCol.innerText = new Date(item.posting_date).toLocaleDateString('ru-RU');
    const subjectCol = document.createElement('td');
    subjectCol.innerText = item.subject_name;
    const attendanceCountCol = document.createElement('td');
    attendanceCountCol.innerText = item.attendance_count;
    const activityCountCol = document.createElement('td')
    activityCountCol.innerText = item.activity_count;
    const homeworkCountCol = document.createElement('td');
    homeworkCountCol.innerText = item.homework_count;
    const linkCol = document.createElement('td');
    linkCol.innerHTML = `<a href="<%= globalLink %>/reviews/${item.review_id}"><button class="btn btn-primary">Подробнее</button></a>`;
    trEl.appendChild(dateCol);
    trEl.appendChild(subjectCol);
    trEl.appendChild(attendanceCountCol);
    trEl.appendChild(activityCountCol);
    trEl.appendChild(homeworkCountCol);
    trEl.appendChild(linkCol);
  })
});
</script>


<!-- в блоке результатов отображаем только последние результаты по опред формату и предмету -->
<% formats.forEach(function(format) { %>
  <div class="row d-flex group__block my-3">
    <div class="group__info">
      <h4 class="students_content_title text-center">
        Формат: <%= format.format ? format.format : 'Не указан' %>
      </h4>

      <% format.subjects.forEach((subject) => { %>
      <div class="row d-flex flex-column">
        <a href="<%= globalLink %>/groups/<%= group.group_id %>/formats/<%= format.format_id %>/subjects/<%= subject.subject.subject_id %>" class="btn btn-primary w-25">Подробнее</a>
        <h5 class="text-end"><%= subject.subject.subject_name %></h5>
        <h6>Дата проведения последнего теста: <%= subject.latest_test_results[0].test_date.toLocaleDateString('ru-RU') %></h6>
        <h6>Тема: <% if(subject.latest_test_results[0].theme !== null) { %>
          <%= subject.latest_test_results[0].theme %>
        <% } else { %>
          Не указана
          <% }; %>
        </h6>
        <h6>
          Максимум баллов: <%= subject.latest_test_results[0].max_points %>
        </h6>
        <div class="table-responsive-lg">
          <table class="table table-striped table-hover table-bordered border-primary">
            <tbody class="tbody__reverse">
              <tr>
                <th>Ученики</th>
                <th>Набранные баллы</th>
                <th>Проценты</th>
                <th>Оценка</th>
              </tr>
              <% subject.latest_test_results.forEach(function (result) { %>
                <tr>
                  <th>
                    <%= result.student_name %>
                  </th>
                  <th>
                    <%= result.points %>
                  </th>
                  <th>
                    <%= result.percents %>
                  </th>
                  <th>
                    <%= result.grade %>
                  </th>
                </tr>
              <% }); %>

            </tbody>
          </table>
        </div>
        <div id="chart__<%= subject.subject.subject_id %>__<%= format.format_id %>">
        </div>
      </div>
<script>
let gradesCount__<%= format.format_id %><%= subject.subject.subject_id %> = <%- JSON.stringify(Object.values(subject.latest_test_results.reduce((acc, result) => {
switch(result.grade) {
  case 5:
  acc.five += 1;
  break;
  case 4:
  acc.four += 1;
  break;
  case 3:
  acc.three += 1;
  break;
  default:
    acc.two += 1;
}
return acc;
},{ five: 0, four: 0, three: 0, two: 0}))) %>

var options = {
series: [{
  name: 'Количество учеников получивших соответствующую оценку',
data: gradesCount__<%= format.format_id %><%= subject.subject.subject_id %>
}],
chart: {
type: 'bar',
height: 350,
toolbar: {
  show: false,
},
},
plotOptions: {
bar: {
borderRadius: 4,
horizontal: true,
distributed: true
}
},
fill: {
  colors: [ '#0000e5', '#00b300','#cc8400', '#b20000']
},
dataLabels: {
enabled: false
},
xaxis: {
categories: ['Отлично', 'Хорошо', 'Удовлетворительно', 'Плохо'],
}
};
var chart__<%= subject.subject.subject_id %>__<%= format.format_id %> = new ApexCharts(document.querySelector("#chart__<%= subject.subject.subject_id %>__<%= format.format_id %>"), options).render();
</script>
        <% }); %>
    </div>
  </div>
<% }); %>

<% subjects.forEach(function(subject) { %>
  <% if(reviews.filter((review) => review.name == subject.name).length !== 0) { %>
  <div class="row d-flex flex-column group__block my-3">
  <div class="accordion" id="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSubject_<%= subject.subject_id %>">
        <button class="accordion-button d-block text-center bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubject_<%= subject.subject_id %>" aria-expanded="true" aria-controls="collapseSubject_<%= subject.subject_id %>">
          <h5 class="text-light">Характеристики по предмету: <%= subject.name %></h5>
        </button>
      </h2>
      <div id="collapseSubject_<%= subject.subject_id %>" class="accordion-collapse collapse" aria-labelledby="headingSubject_<%= subject.subject_id %>" data-bs-parent="#accordion">
        <div class="accordion-body d-flex flex-column bg-warning">
            <div class="table-responsive-lg">
              <table class="table table-striped table-hover table-bordered border-primary">
                <tr>
                   <th>Дата проведения</th>
                   <th>Предмет</th>
                   <th>Посещаемость</th>
                   <th>Активность</th>
                   <th>Выполнение ДЗ</th>
                   <th>Подробнее</th>
                </tr>
                <% reviews.filter((review) => review.name == subject.name).sort(function(a, b) { return new Date(b.posting_date) - new Date(a.posting_date); }).forEach(function(review) { %>
                <tr>
                    <th class="date"><%= review.posting_date.toLocaleDateString('ru-RU') %></th>
                    <th><%= review.name %></th>
                    <th class="attendance"><%= review.attendance %></th>
                    <th class="activity"><%= review.activity %></th>
                    <th class="homework"><%= review.homework %></th>
                    <th>
                      <a href=<%= `${globalLink}/reviews/${review.review_id}/` %> class="btn btn-warning my-2">
                      <strong>Перейти</strong>
                      </a>
                    </th>
                </tr>
                <% }); %>
             </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<% } %>
<% }); %>

</div>


<%- include ("../partials/footer.ejs") %>

<script>




</script>