<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  
  <%- include ("../partials/nav.ejs") %>

<div class="container">
    <div class="row my-3 group__block">
      <div class="col">
        <div class="group__info d-flex flex-column justify-content-start">
          <h4 class="btn btn-success">
             Группа: <%= group.name %>
          </h4>
          <h4 class="btn btn-success">
              Класс:
              <%= group.class_number %>
          </h4>
      </div>
      </div>
    </div>
    <div class="row d-flex group__block my-3">


        <div class="col-md-6 col-12">
          <div class="students__content">
            <div class="accordion" id="accordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingStudent">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStudent" aria-expanded="true" aria-controls="collapseStudent">
                    Ученики группы
                  </button>
                </h2>
                <div id="collapseStudent" class="accordion-collapse collapse" aria-labelledby="headingStudent" data-bs-parent="#accordion">
                  <div class="accordion-body d-flex flex-column">
                    <% students.forEach(function(student) { %>
                    <div class="student__profile">
                      <a href=<%= `${globalLink}/students/${student.student_id}/` %> class="btn btn-warning my-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                        <strong><%= student.name %></strong>
                      </a>
                    </div>

                      <% }); %>
                    </div>
                </div>
              </div>
            </div>
            <a href=<%= `${globalLink}/groups/${group.group_id}/addStudent` %> class="btn btn-primary my-2">
            Добавить ученика в эту группу
            </a>
            <a href=<%= `${globalLink}/groups/${group.group_id}/removeStudent` %> class="btn btn-danger my-2">
              Удалить ученика из группы
              </a>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="subjects__content">
            <div class="accordion" id="accordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSubject">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubject" aria-expanded="true" aria-controls="collapseSubject">
                    Предметы группы
                  </button>
                </h2>
                <div id="collapseSubject" class="accordion-collapse collapse" aria-labelledby="headingSubject" data-bs-parent="#accordion">
                  <div class="accordion-body d-flex flex-column">
                    <% subjects.forEach(function(subject) { %>
                    <div class="student__profile">
                      <button class="btn btn-secondary my-2">
                        <strong><%= subject.name %></strong>
                      </button>
                    </div>

                      <% }); %>
                    </div>
                </div>
              </div>
            </div>
            <a href=<%= `${globalLink}/groups/${group.group_id}/addSubject` %> class="btn btn-primary my-2">
            Добавить предмет в эту группу
            </a>
            <a href=<%= `${globalLink}/groups/${group.group_id}/removeSubject` %> class="btn btn-danger my-2">
              Удалить предмет из группы
              </a>
          </div>
        </div>

    </div>

    <div class="row d-flex group__block my-4">
      <div class="col py-2">
        <h4 class="text-center">Тесты</h4>
        <div class="tests__content">
          <a href=<%= `${globalLink}/groups/${group.group_id}/addTest` %> class="btn btn-primary my-2">
          Добавить тест в эту группу
          </a>          
          <a href=<%= `${globalLink}/groups/${group.group_id}/removeTest` %> class="btn btn-danger my-2">
            Удалить тест из группы
            </a>
        </div>
    </div>
    </div>

    <div class="row d-flex group__block my-4">
      <div class="col py-2">
        <h4 class="text-center">Ревью</h4>
        <h5 class="text-center">Добавить характеристики эту группу</h5>
        <div class="review__content">
          <% subjects.forEach(function(subject) { %>
          <a href=<%= `${globalLink}/groups/${group.group_id}/${subject.subject_id}/addReview` %> class="btn btn-secondary my-2">
            <%= subject.name %>
          </a>    
          
          <% }); %>
          <a href=<%= `${globalLink}/groups/${group.group_id}/removeReview` %> class="btn btn-danger my-2">
            Удалить ревью из группы
            </a>
        </div>
    </div>
    </div>

    <% if(group.class_number == 11 && group.name.substr(0, 3) == 'ЕНТ'){ %>
        <div class="row d-flex group__block mt-4 mb-1">
          <div class="col py-2">
            <h4 class="text-center">Пробное ЕНТ</h4>
            <div class="tests__content">
              <a href=<%= `${globalLink}/groups/${group.group_id}/addEntTrial` %> class="btn btn-primary my-2">
              Добавить пробное ЕНТ в эту группу
              </a>          
              <a href=<%= `${globalLink}/groups/${group.group_id}/removeEntTrial` %> class="btn btn-danger my-2">
                Удалить пробное ЕНТ из группы
                </a>
            </div>
        </div>
    
          <h4 class="text-center my-2">Результаты по пробному тестированию ЕНТ</h4>
          <div class="table-responsive-lg">
            <table class="table table-striped table-hover table-bordered border-primary">
              <tr>
                <th>Дата проведения</th>
                <th>Количество сдающих</th>
                <th>Подробнее</th>
              </tr>
              <% trials.sort(function(a, b) { return new Date(a.trial_date) - new Date(b.trial_date); }).forEach(function(trial) { %>
              <tr>
                  <th class="date"><%= trial.trial_date.toLocaleDateString('ru-RU') %></th>
                  <th class="quantity"><%= trial.count %></th>
                  <th>
                    <a href=<%= `${globalLink}/group/${group.group_id}/trials/${trial.trial_id}` %> class="btn btn-warning my-2">
                    <strong>Перейти</strong>
                    </a>
                  </th>
              </tr>
              <% }); %>
          </table>
          </div>
        </div>

    <% } %>


    <% subjects.forEach(function(subject) { %>
      
      <div class="row d-flex flex-column group__block my-3">
        <h4 class="text-center my-2">Результаты по предмету: <%= subject.name %></h4>
      <div class="table-responsive-lg">
        <table class="table table-striped table-hover table-bordered border-primary">
          <tr>
             <th>Дата проведения</th>
             <th>Предмет</th>
             <th>Количество сдающих</th>
             <th>Формат тестирования</th>
             <th>Максимум баллов</th>
             <th>Средний балл</th>
             <th>% от максимума</th>
             <th>Подробнее</th>
          </tr>
          <% tests.filter((test) => test.subject_name == subject.name).sort(function(a, b) { return new Date(a.date) - new Date(b.date); }).forEach(function(test) { %>
          <tr>
              <th class="date_<%= subject.id %>"><%= test.date.toLocaleDateString('ru-RU') %></th>
              <th><%= test.subject_name %></th>
              <th class="quantity_<%= subject.id %>"><%= test.result.count %></th>
              <th><%= test.format %></th>
              <th><%= test.max_points %></th>
              <th><%= Math.round(test.result.avg) %></th>
              <th class="percent_<%= subject.id %>"><%= Math.round(test.percent) %></th>
              <th>
                <a href=<%= `${globalLink}/tests/${test.test_id}/` %> class="btn btn-warning my-2">
                <strong>Перейти</strong>
                </a>
              </th>
          </tr>
          <% }); %>
       </table>
      </div>

      <div class="col py-2">
        <div id="chart_<%= subject.id %>">
        </div>
      </div>

      
      <div class="accordion" id="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSubject_<%= subject.id %>">
            <button class="accordion-button d-block text-center bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubject_<%= subject.id %>" aria-expanded="true" aria-controls="collapseSubject_<%= subject.id %>">
              <h5 class="text-light">Характеристики по предмету: <%= subject.name %></h5>
            </button>
          </h2>
          <div id="collapseSubject_<%= subject.id %>" class="accordion-collapse collapse" aria-labelledby="headingSubject_<%= subject.id %>" data-bs-parent="#accordion">
            <div class="accordion-body d-flex flex-column bg-warning">

                <div class="table-responsive-lg">
                  <table class="table table-striped table-hover table-bordered border-primary">
                    <tr>
                       <th>Дата проведения</th>
                       <th>Предмет</th>
                       <th>Посещаемость</th>
                       <th>Активность</th>
                       <th>Выполнение ДЗ</th>
                       <th>Подробнее</th>
                    </tr>
                    <% reviews.filter((review) => review.name == subject.name).sort(function(a, b) { return new Date(b.posting_date) - new Date(a.posting_date); }).forEach(function(review) { %>
                    <tr>
                        <th class="date"><%= review.posting_date.toLocaleDateString('ru-RU') %></th>
                        <th><%= review.name %></th>
                        <th class="attendance"><%= review.attendance %>/<%= review.marked_attendance %></th>
                        <th class="activity"><%= review.activity %>/<%= review.marked_activity %></th>
                        <th class="homework"><%= review.homework %>/<%= review.marked_homework %></th>
                        <th>
                          <a href=<%= `${globalLink}/reviews/${review.review_id}/` %> class="btn btn-warning my-2">
                          <strong>Перейти</strong>
                          </a>
                        </th>
                    </tr>
                    <% }); %>
                 </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div> 


    <script> 
      var options = {
                series: [{
                name: 'Количество сдающих',
                type: 'column',
                data: Array.from(document.querySelectorAll('.quantity_<%= subject.id %>')).map((el) => el.innerHTML),
              }, {
                name: '% от максимума',
                type: 'line',
                data: Array.from(document.querySelectorAll('.percent_<%= subject.id %>')).map((el) => el.innerHTML),
              }],
                chart: {
                height: 350,
                type: 'line',
              },
              stroke: {
                width: [0, 4]
              },
              title: {
                text: 'График успеваемости группы'
              },
              dataLabels: {
                enabled: true,
                enabledOnSeries: [1]
              },
              labels: Array.from(document.querySelectorAll('.date_<%= subject.id %>')).map((el) => el.innerHTML),
              xaxis: {
                type: 'date'
              },
              yaxis: [{
                title: {
                  text: 'Количество сдающих'
                },
              
              }, {
                opposite: true,
                title: {
                  text: '% от максимума',
                }
              }]
              };
      
              var chart_<%= subject.id %> = new ApexCharts(document.querySelector("#chart_<%= subject.id %>"), options).render();
      </script>


    <% }); %>

</div>




<%- include ("../partials/footer.ejs") %>