<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
  <div class="row my-3 student__block">
      <div class="col">
              <h3 class="text-center">Список учеников</h3>
              <input placeholder="Поиск по имени" type="text" id="input" class=" mb-4 form-control w-75 align-self-center" />
                        <div class="col studens_all">
                          <% students.forEach(function(student) { %>
                            <a class="btn btn-secondary hide btn-sm m-1" href=<%= `${globalLink}/views/${student.student_id}` %>>
                              <strong><%= student.name %></strong>
                            </a>
                      <% }); %>
                        </div>

            </div>
      </div>
  </div>

<%- include ("../partials/footer.ejs") %>

<script>
window.onload = () => {

let input = document.querySelector('#input');

input.oninput = function() {
  if(this.value.length > 2) {
    let value = this.value.trim();
  let list = document.querySelectorAll('.btn-secondary');

  value
    ? list.forEach(elem => {
        elem.innerText.search(value) == -1
          ? elem.classList.add('hide')
          : elem.classList.remove('hide');
      })
    : list.forEach(elem => {
        elem.classList.remove('hide');
      });


  } else {
    let value = this.value.trim();
  let list = document.querySelectorAll('.btn-secondary');

  value
    ? list.forEach(elem => {
        elem.innerText.search(value) == -1
          ? elem.classList.add('hide')
          : elem.classList.add('hide');
      })
    : list.forEach(elem => {
        elem.classList.add('hide');
      });

  }

};
}



</script>
