<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">

    <div class="row d-flex student__block my-4">
        <div class="col">
            <div class="student__info flex-column">
                <h4>
                    <%= student.name %>
                </h4>
                <h5>
                    Класс ученика:
                    <%= student.class_number %>
                </h5>
                <h5>
                    Предметы ученика:
                </h5>
            </div>
        </div>
    </div>



    <% subjects.forEach(function(subject) { %>
      <div class="row d-flex flex-column group__block my-3">
        <h4 class="text-center my-2">Результаты по предмету: <%= subject.name %></h4>
      <div class="table-responsive-lg">
        <table class="table table-striped table-hover table-bordered border-primary">
          <tr>
             <th>Дата проведения</th>
             <th>Предмет</th>
             <th>Формат тестирования</th>
             <th>Максимум баллов</th>
             <th>Набранные баллы</th>
             <th>% от максимума</th>
          </tr>
          <% student.results.filter((result) => result.subject_name == subject.name).sort(function(a, b) { return new Date(a.test_info.date) - new Date(b.test_info.date); }).forEach(function(result) { %>
          <tr>
            <th class="date_<%= subject.id %>"><%= result.test_info.date.toLocaleDateString('ru-RU') %></th>
            <th><%= result.test_info.subject_name %></th>
            <th><%= result.test_info.format %></th>
            <th><%= result.test_info.max_points %></th>
            <th><%= result.points %></th>
            <th class="percent_<%= subject.id %>"><%= Math.round((result.points / result.test_info.max_points) * 100) %></th>
          </tr>
        <% }); %>
      </table>
    </div>


    <div class="col py-2">
      <div id="chart_<%= subject.id %>">
      </div>

    </div>
  </div> 

  <script> 
    var options = {
              series: [{
              name: 'Количество сдающих',
              type: 'column',
              data: Array.from(document.querySelectorAll('.quantity_<%= subject.id %>')).map((el) => el.innerHTML),
            }, {
              name: '% от максимума',
              type: 'line',
              data: Array.from(document.querySelectorAll('.percent_<%= subject.id %>')).map((el) => el.innerHTML),
            }],
              chart: {
              height: 350,
              type: 'line',
            },
            stroke: {
              width: [0, 4]
            },
            title: {
              text: 'График успеваемости группы'
            },
            dataLabels: {
              enabled: true,
              enabledOnSeries: [1]
            },
            labels: Array.from(document.querySelectorAll('.date_<%= subject.id %>')).map((el) => el.innerHTML),
            xaxis: {
              type: 'date'
            },
            yaxis: [{
              title: {
                text: 'Количество сдающих'
              },
            
            }, {
              opposite: true,
              title: {
                text: '% от максимума',
              }
            }]
            };
    
            var chart_<%= subject.id %> = new ApexCharts(document.querySelector("#chart_<%= subject.id %>"), options).render();
    </script>







    <% }); %>
</div>


<%- include ("../partials/footer.ejs") %>