<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">

    <div class="row d-flex student__block my-4">
        <div class="col">
            <div class="student__info flex-column">
                <h4>
                    <%= student.name %>
                </h4>
                <h5>
                    Класс ученика:
                    <%= student.class_number %>
                </h5>
                <h5>
                    Предметы ученика:
                </h5>
            </div>
        </div>
    </div>

    <div class="row d-flex student__block my-4">
        <div class="col">
            <table class="table table-striped table-hover table-bordered border-primary">
                <tr>
                   <th>Дата проведения</th>
                   <th>Группа</th>
                   <th>Предмет</th>
                   <th>Формат тестирования</th>
                   <th>Максимум баллов</th>
                   <th>Набранный балл</th>
                   <th>% от максимума</th>
                </tr>
             </table>


        </div>

    </div>
    
    <div class="row d-flex group__block my-4">
        <div class="col py-2">
          <div id="chart">
          </div>
        </div>
    </div> 

</div>

<script>
    const dates = Array.from(document.querySelectorAll('.date')).map((el) => el.innerHTML);
    const percents = Array.from(document.querySelectorAll('.percents')).map((el) => el.innerHTML);
    
    var options = {
      series: [{
        name: "% от максимума",
        data: percents
            }],
      chart: {
      height: 350,
      type: 'line',
      zoom: {
        enabled: false
      }
      },
    dataLabels: {
      enabled: true
    },
    stroke: {
      curve: 'straight'
    },
    title: {
      text: 'Динамика успеваемости ученика',
      align: 'center'
    },
    grid: {
      row: {
        colors: ['#f3f3f3', 'transparent'],
        opacity: 0.5
      },
    },
    xaxis: {
      categories: dates,
    },
    };
    
            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
    
    
    </script>

<%- include ("../partials/footer.ejs") %>